<%if !user_signed_in? || current_user.role_id == 3%>
<script type="text/javascript">
    window.location.href="/blogs"  // put your correct path in a string here
  </script>
<%end%>

<form action="/update_blogs" >
	<div class="form-group">
		<div class="col-md-8">
  		<label for="sel1">publish this post:</label>
		<%= select_tag 'id', options_for_select(@drafted.collect{ |d| [d.title, d.id] }),
		 class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
    <div class="col-md-2">
    	<input type="submit" name="submit" value="submit" class="btn btn-default btn-primary" >
  	</div>
	</div>
</form>

<br>
<form action="/edit_blog" >
	<div class="form-group">
		<div class="col-md-8">
  		<label for="sel1">Remove from published:</label>
		<%= select_tag 'id', options_for_select(@published.collect{ |d| [d.title, d.id] }),
		 class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
    <div class="col-md-2">
    	<input type="submit" name="submit" value="submit" class="btn btn-default btn-primary" >
  	</div>
	</div>
</form>
